* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.navbar {
	display: flex;
	background-color: #ffcfe9;
	height: 100px;
	font-family: 'Indie Flower';
	font-weight: bold;
	font-size: 150%;
}

.navbar a {
	color: #ffffff;
	text-decoration: none;
}

#navbar-title {
	display: flex;
	align-items: center;
	padding-left: 25px;
}


#sub-navbar {
	display: flex;
	flex-direction: row;
	padding-left: 670px;
}

#navbar-item {
	display: flex;
	align-items: center;
	padding-left: 50px;
}

.content {
	display: flex;
	text-align: center;
}

#instagram-pic {
	flex: 50%;
}

#contact-info {
	flex: 50%;
	font-family: 'Nunito', sans-serif;
	padding-top: 65px;
  padding-top: 200px
}


#instagram-pic {
  padding-top: 60px;
}
